<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for student in students %}
    <div>
        <p>Name: {{ student.first_name }} {{ student.last_name }}</p>
        <p>DOB: {{ student.dob }}</p>
        <img src="{{ student.photo.url }}" alt="Student Photo">
        <a href="{{ student.resume.url }}">Download Resume</a>
    </div>
{% endfor %}

    
</body>
</html>